pyside6==6.7.0
numpy
mysql-connector-python
pyyaml
requests
pillow
opencv-python

# AI model
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
torchvision==0.15.2
matplotlib
tqdm
scipy